@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin-top:15px"></div>
<h2>Kategori Ekle</h2>
<hr/>
<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label><b>KATEGORİ ADI</b></label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-secondary" id="Btn1">Kategori Ekle</button>
    </div>
</form>
